---
layout: "_layouts\\\\default.twig"
title: "Heitor Rodrigues"
---

{% block stylesheets %}
	{# TODO: é possível usar encore_entry_link_tags? pertence ao WebpackEncoreBundle #}
	<link rel="stylesheet" href="/build/app.css">
{% endblock %}

{% block javascripts %}
	<script src="/build/runtime.js"></script>
	<script src="/build/app.js"></script>
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('build/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Heitor Rodrigues</h1>
                        <hr class="small">
                        <span class="subheading">Programador Web</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <h2>Heitor Toledo Rodrigues</h2>
    
{% endblock %}

